* {
  padding: 0;
  margin: 0;
}

/* ----------------------------------------header style start--------------------------------- */
header {
  display: flex;
  height: 120px;
}
.header__left {
  flex: 1;
}
.header__left img {
  width: 400px;
  height: 100%;
}
.header__mid {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  flex-direction: column;
  flex: 3;
}
.inputbox {
  display: flex;
  border: solid 2px #623381;
  color: #623381;
  border-radius: 5px;
  background-color: white;
  padding: 7px;
}
button i {
  color: #623381;
}
.inputbox input {
  width: 380px;
  border-radius: 0;
  border: none;
  height: 100%;
  outline: none;
  color: #623381;
}
.inputbox button {
  border: none;
  background-color: white;
}
.product_text {
  display: flex;
  color: gray;
}
.product_text a {
  text-decoration: none;
  color: gray;
}
.product_text a:last-child {
  border-right: none;
}

.product_text a::after {
  content: "|";
  margin: 0px 5px;
}
.product_text a:last-child::after {
  content: "";
}

.header__right {
  flex: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  color: #b53788;
}
.header__right .row1 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  font-size: 14px;
  font-weight: bold;
}
.row1 div:nth-child(1) {
  display: flex;
  align-items: center;
  justify-content: center;
}
.row1 div:nth-child(2) {
  height: 20px;
  border: 1px solid #b53788;
  background-color: #b53788;
}
.header__right .row2 {
  display: flex;
  font-size: 14px;
  font-weight: bold;
}
.header__right .row2 div {
  margin: 0 20px;
}
.header__right .row2 div a {
  display: flex;
  align-items: center;
  gap: 5px;
  text-decoration: none;
  color: #b53788;
  font-size: 17px;
}
.header__right .row2 div a i {
  border: 2px solid hsl(321, 53%, 46%);
  border-radius: 50%;
  padding: 2px;
  font-size: 34px;
}
/* ----------------------------------------header style end--------------------------------- */

.category__container {
  width: 100%;
  background-color: #8500b3;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  color: white;
  height: 40px;
}
/* .dropbtn div:nth-child(1) {
  height: 100%;

}

.category__container div:nth-child(n+2) {
  height: 100%;

} */

.category__container div a {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 0.015em;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #fff;
  line-height: normal;
  height: 100%;
}

.category__container div a:hover {
  color: #8500b3;
  background-color: white;
}
.dropdown:hover{
  background-color: white;
  color: #8500b3;


}


.dropbtn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.6vw 1vw;
}

.dropdown-content {
  display: none;
  position: absolute;
  height: 20px;
  z-index: 1;
}
.dropdown-content input {
  width: 300px;
  height: 30px;
  padding: 2px 10px;
  border: 2px solid #8500b3;  ;
}

.dropdown-content a {
  padding: 5px 10px;
  background-color: #8500b3;
  border: 1px solid rgb(216, 216, 216);
  color: gray;
  display: block;
  text-decoration: none;
  cursor: pointer;
}

.dropdown-content a:hover {
  font-weight: 600;
  background-color: rgb(230, 230, 230);
}

.dropdown:hover .dropdown-content {
  display: block;
}
